aws-lambda-powertools==2.43.1
boto3==1.35.15
boto3-stubs==1.35.15
botocore==1.35.15
botocore-stubs==1.35.15
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
exceptiongroup==1.2.2
freezegun==1.5.1
idna==3.8
iniconfig==2.0.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
moto==5.0.14
mypy-boto3-cloudformation==1.35.0
mypy-boto3-dynamodb==1.35.15
mypy-boto3-ec2==1.35.8
mypy-boto3-lambda==1.35.3
mypy-boto3-rds==1.35.0
mypy-boto3-s3==1.35.2
mypy-boto3-sqs==1.35.0
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pytest==8.3.2
pytest-mock==3.14.0
pytest-socket==0.7.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
responses==0.25.3
s3transfer==0.10.2
six==1.16.0
tomli==2.0.1
types-awscrt==0.21.5
types-s3transfer==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
xmltodict==0.13.0
